{
    "useTabs": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": [
                "*.json",
                "*.yaml",
                "*.yml",
                ".prettierrc"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "printWidth": 127,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto"
}